/*
     Overwrite the default Materialize Light theme
  */
body, html {
    background-color: #191a1a !important;
    color: #e7e6e5 !important;
    height: 100%;
}

.autocomplete {
    color: #e7e6e5;
}

.select-dropdown {
    color: #e7e6e5;
}

.dropdown-content {
    background-color: #191a1a !important;
    backface-visibility: hidden !important;
}

.optgroup > span {
    color: #e7e6e5 !important;
}

.dropdown-content > li {
    min-height: 36px !important;
}

.dropdown-content > li > span {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.input-field > input {
    color: #e7e6e5 !important;
}

.material-tooltip {
    white-space: pre;
}


.logo {
    border-radius: 20px;
    vertical-align: middle;
}

.banner {
    font-size: 80px;
    font-family: Helvetica,serif;
}

#searchForm {
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
}

#results {
    margin: 30px auto;
    width: 100%;
    max-width: 1000px;
}
