/*
     Overwrite the default Materialize Light theme

     Don't crucify me for the !important
  */
body, html {
    background-color: #191a1a !important;
    color: #e7e6e5 !important;
    height: 100%;
}

#results-body td {
    padding: 10px 5px;
}

.autocomplete {
    color: #e7e6e5;
}

.select-dropdown {
    color: #e7e6e5;
}

.dropdown-content {
    background-color: #191a1a !important;
    backface-visibility: hidden !important;
}

.optgroup > span {
    color: #e7e6e5 !important;
}

.dropdown-content > li {
    min-height: 36px !important;
}

.dropdown-content > li > span {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.input-field > input {
    color: #e7e6e5 !important;
}

.material-tooltip {
    white-space: pre;
}

nav {
    background-color: #287168;
}

.nav-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.modal-content {
    background-color: #191a1a !important;
}

.brand-logo {
    font-size: 1.8rem !important;
}

.logo {
    border-radius: 20px;
    vertical-align: middle;
}

.banner {
    color: #e7e6e5;
    font-size: 80px;
    font-family: Helvetica,serif;
}

#searchForm {
    margin: 30px auto;
    width: 100%;
    max-width: 900px;
}

#results {
    margin: 30px auto;
    width: 100%;
    max-width: 1000px;
}

/* Steam Profile Icon Display, Based on official Steam CSS */
.playerAvatar {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 0;
    padding: 1px;

    display: block;
    margin: auto;
}

.playerAvatar img {
    width: 38px;
    height: 38px;
    padding: 1px;
    border-radius: 0;
    border: none;
}

.playerAvatar.offline {
    background: linear-gradient( to bottom, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
}
.playerAvatar.offline img {
    background: linear-gradient( to bottom, #515151 5%, #474747 95%);
}

.playerAvatar.online {
    background: #57cbde linear-gradient(to bottom, rgba(83, 164, 196, 1) 5%, rgba(69, 128, 151, 1) 95%);
}
.playerAvatar.online img {
    background: linear-gradient( to bottom, #41778f 5%, #3d697b 95%);
}

.playerAvatar.in-game {
    background: #90ba3c linear-gradient(to bottom, rgba(143, 185, 59, 1) 5%, rgba(110, 140, 49, 1) 95%);
}
.playerAvatar.in-game img {
    background: linear-gradient( to bottom, #66812e 5%, #59702b 95%);
}
